parameters:
    phpVersion: 80320
    level: 8
    paths:
        - src/
        - tests/

    excludePaths:
        - %rootDir%/../../../src/Generated/*
        - %rootDir%/../../../tests/*
        - %rootDir%/../../../config/*
